{% extends '::base.html.twig' %}

{% block stylesheets %}


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style type="text/css" class="init">
#dialog {
  display: none;
}

#dialog button {
  border: 2px solid #4e678b;
  border-radius: 3px;
  background-color: white;
  padding: 2px;
  color: #4e678b;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

#dialog button:hover {
  background-color: #4e678b;
  color: white;
}
.auteur h5{
  text-transform: uppercase;
  padding-left : 10px;
  color: black;
}

.auteur:hover{
  background-color: #D9D9D9;
  cursor:  pointer;
}
</style>
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
var jQuery_1_12_4 = $.noConflict(true);
jQuery_1_12_4(function() {

  jQuery_1_12_4('.supprimer').each(function(index) {

    // Dialogue de selection d'auteur
    jQuery_1_12_4(this).click(function(event){
      var idAuteur = $(this).attr('href');
      event.preventDefault();
      $('#dialogConfirm').dialog();

      jQuery_1_12_4('.non').click(function() {
        $('#dialogConfirm').dialog('close');
      });

      // Dialog de confirmation
      jQuery_1_12_4('.oui').click(function() {
        var idRemplacement = jQuery_1_12_4('#choixAuteur').val();

        $('#dialog').dialog();
        $('#dialogConfirm').dialog('close');

        // alert(lien);

        jQuery_1_12_4('.non').click(function() {
          $('#dialog').dialog('destroy');
          $('#dialogConfirm').dialog('destroy');
        });

        // Si confirmation plus acceptation auteur
        jQuery_1_12_4('.oui').click(function() {
          //Creation du lien
          var lien = '{{ path("auteur_supprimer", {'id': 13, 'idRemplacement': 13}) }}';
          var lienArr = lien.split("/");
          lienArr[lienArr.length-1] = idAuteur+"_"+idRemplacement;
          var lien = lienArr.join("/");

          //envoi de la requete et rechargement de la page
          document.location.href = lien;
          $('#dialog').dialog('destroy');
          $('#dialogConfirm').dialog('destroy');
          location.reload();
        });
      });
    });

  });
});
</script>

<script type="text/javascript" class="init">

jQuery_1_12_4(document).ready(function() {
  jQuery_1_12_4('#liste_auteur').DataTable(
    {
      "oLanguage": {
        "sProcessing":     "Traitement en cours...",
        "sSearch":         "Rechercher :",
        "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
        "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
        "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
        "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
        "sInfoPostFix":    "",
        "sLoadingRecords": "Chargement en cours...",
        "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
        "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
        "oPaginate": {
          "sFirst":      "Premier",
          "sPrevious":   "Pr&eacute;c&eacute;dent",
          "sNext":       "Suivant",
          "sLast":       "Dernier"
        },
        "oAria": {
          "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
          "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
        }
      }
    }

  );
} );
</script>
{% endblock %}

{% block body %}
<h2 class="fil_ariane"><a href="{{ path('administration') }}">Administration</a> > {{ 'Gestion des auteurs'|upper }}</h2>
<section >
  {# Si il y a des auteurs, on les affiches, sinon on affiche un message d'erreur. #}
  {% if auteurs %}
  <table style="margin: auto;" class="display" id="liste_auteur" >
    <thead>
      <tr>
        <th>
          Nom
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for auteur in auteurs %}
      <tr class="auteur">
        <td><a href="{{ path('article_listeArticleAuteur', {'nom' : auteur.nom|upper }) }}" ><h5>{{ auteur.nom|upper }}</h5></a></td>
        <td><a href="{{ path('auteur_editer', {"id": auteur.id}) }}"><img style="width: 15px; height: 15px;" src="{{ asset('img/edit_icon.png') }}" alt="Editer l'auteur"/></a></td>
        <td><a class="supprimer" href="{{auteur.id}}"><img style="width: 15px; height: 15px;" src="{{ asset('img/delete_icon.png') }}" alt="Supprimer l'auteur"/></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="erreur">Aucun auteur dans la base de données.</div>
  {% endif %}

  <div id="dialog" title="Suppression">
    <p>Si vous supprimez cet auteur, tous les articles qui lui sont affiliés verons leur auteur remplacé par celui séléctionné précédemment.</p>
    <p>Voulez-vous vraiment supprimer cet Auteur ?</p>
    <button class="non">Non</button>
    <button class="oui">Oui</button>
  </div>

  <div id="dialogConfirm" title="Remplacement" style="display:none;">
    <p>Avant de supprimer l'auteur, merci de selectionner un nouvel auteur parmi cette liste : </p>
    <select id="choixAuteur">{% for auteur in auteurs %}<option value="{{auteur.id}}">{{ auteur.nom|upper }}</option>{% endfor %}</select>
    <button class="non">Annuler</button>
    <button class="oui">Continuer</button>
  </div>
</section>
{% endblock %}
